<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >
<!--    package="com.infusiblecoder.cryptotracker"-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name="com.infusiblecoder.cryptotracker.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_appicon"
        android:supportsRtl="false"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:supportsRtl">
        <activity android:name="com.infusiblecoder.cryptotracker.features.launch.LaunchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="coinhood" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:exported="true"
            android:name="com.infusiblecoder.cryptotracker.features.HomeActivity"
            android:launchMode="singleTop" />
        <activity
            android:exported="true"
            android:name="com.infusiblecoder.cryptotracker.features.coindetails.CoinDetailsPagerActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.infusiblecoder.cryptotracker.features.HomeActivity" />
        <activity
            android:exported="true"
            android:name="com.infusiblecoder.cryptotracker.features.newslist.NewsListActivity"
            android:parentActivityName="com.infusiblecoder.cryptotracker.features.coindetails.CoinDetailsPagerActivity" />
        <activity
            android:exported="true"
            android:name="com.infusiblecoder.cryptotracker.features.transaction.CoinTransactionActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:exported="true"
            android:name="com.infusiblecoder.cryptotracker.features.exchangesearch.ExchangeSearchActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:exported="true"
            android:name="com.infusiblecoder.cryptotracker.features.pairsearch.PairSearchActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:exported="true"
            android:name="com.infusiblecoder.cryptotracker.features.coinsearch.CoinSearchActivity"
            android:label="@string/search_coin"
            android:parentActivityName="com.infusiblecoder.cryptotracker.features.HomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:exported="true"
            android:name="com.infusiblecoder.cryptotracker.features.coindetails.CoinDetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.infusiblecoder.cryptotracker.features.coinsearch.CoinSearchActivity" />

        <activity
            android:exported="true"
            android:name="com.infusiblecoder.cryptotracker.features.ticker.CoinTickerActivity"
            android:parentActivityName="com.infusiblecoder.cryptotracker.features.coindetails.CoinDetailsPagerActivity" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/AdmobAppId" />
        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:hardwareAccelerated="true" />
    </application>

</manifest>